In [2]:
# Dataset was taken form Mercari Price Suggestion Challenge
#   https://www.kaggle.com/c/mercari-price-suggestion-challenge
#
#  First feature engineering: name detalisation for dummy variables




#библиотеки для обработки данных
import pandas as pd
import numpy as np
import xgboost as xgb


train = pd.read_csv('C:/temp/train.tsv', sep='\t')


#spliting name string for words
names=train['name']
namelist=[]
l=len(train)
for i in range (l):   #len(train)
    print(i/l, end='\r')
    for k in range (len(names[i:i+1].to_string().split())):
        namelist.append([(names[i:i+1].to_string().split())[k:k+1],float(train[i:i+1]['price'])]) #,float(train[i:i+1]['price'])

#print (namelist)

In [5]:
#save results to txt file in order to restart kernel and release memory
labels = ['word', 'P']
df = pd.DataFrame.from_records(namelist, columns=labels)
df.to_csv(r'c:\temp\namesfordt.txt', index=None, sep=' ', mode='a')

In [2]:
#import libreris after kernel restart
import pandas as pd
import numpy as np
import scipy

import xgboost as xgb



df22=pd.read_csv(r'c:\Temp\namesfordt.txt',delimiter=' ')
df21=df22['word'].str.lower()
df2 = pd.DataFrame(df21)
df2['P']=df22['P']
print (df2.head())

         word     P
0           0  10.0
1         mlb  10.0
2  cincinnati  10.0
3        reds  10.0
4           t  10.0

In [3]:
#calculate mean value
mt=df2
mt['i']=1
ptm=pd.pivot_table(df2, values=['P'], index=['i'], columns=None, aggfunc={np.mean})
print(ptm)

           P
        mean
i
1  27.145703

In [4]:
#calculate median value
print(pd.pivot_table(df2, values=['P'], index=['i'], columns=None, aggfunc={np.median}))

       P
  median
i
1   17.0

In [5]:
# pivot with the most often words
pt=pd.pivot_table(df2, values=['P'], index=['word'], columns=None, aggfunc={np.mean, 'count'})
pt2=pt.sort_values(by=[('P', 'count')], ascending=False)
print(pt2)

                  P
              count        mean
word
pink          81679   25.009868
bundle        72336   32.188316
size          71607   25.451583
new           68458   29.273693
lularoe       63163   36.855153
for           58848   30.440168
black         53331   26.346618
and           46161   26.999263
nike          45903   28.471560
vs            43333   26.839095
secret        40207   22.059480
dress         37514   23.093938
&             37353   28.189222
leggings      37202   30.731950
nwt           36151   33.210022
set           35010   27.844073
top           34632   15.691860
free          33404   19.435562
2             33156   26.617761
shirt         31428   15.695399
iphone        29940   31.578373
of            25782   22.701614
case          25281   14.699992
shorts        24361   17.088256
[victoria's]  23684   22.143641
jeans         21303   22.530958
white         20908   25.401760
3             20830   25.665723
the           20473   21.874444
bra           20071   17.954611
...             ...         ...
194274            1   10.000000
194273            1    8.000000
194272            1   17.000000
194271            1    4.000000
194270            1    7.000000
194289            1   26.000000
194290            1  115.000000
194307            1   50.000000
1048041           1  132.000000
194306            1   36.000000
194305            1   11.000000
194304            1   45.000000
194303            1    8.000000
194302            1   60.000000
194301            1   75.000000
194300            1   28.000000
19430             1   29.000000
1943-s            1   20.000000
1048042           1   26.000000
194291            1   17.000000
1942s             1   16.000000
194299            1   14.000000
194298            1   21.000000
194297            1   12.000000
194296            1   14.000000
194295            1   33.000000
194294            1   21.000000
194293            1   14.000000
194292            1   28.000000
4/ampoo           1   18.000000

[1671803 rows x 2 columns]

In [6]:
# pivot to show words in name with biggest mean item price 
pt3=pt.sort_values(by=[('P', 'mean')], ascending=False)
print(pt3)

                   P
               count    mean
word
760469             1  2009.0
new-chanel         1  2006.0
1262245            1  2006.0
1393600            1  2004.0
742113             1  2000.0
956343             1  2000.0
1250053            1  2000.0
1445348            1  2000.0
778940             1  2000.0
vs2/i              1  2000.0
415027             1  2000.0
952000             1  1999.0
h0682              1  1999.0
180749             1  1909.0
194639             1  1900.0
182847             1  1850.0
guarenteed         1  1850.0
1267555            1  1850.0
244054             1  1815.0
1227002            1  1815.0
449729             1  1808.0
645320             1  1806.0
607957             1  1806.0
897423             1  1800.0
667668             1  1800.0
1163903            1  1800.0
1024458            1  1770.0
??watches          1  1770.0
145696             1  1759.0
1416120            1  1750.0
...              ...     ...
59299              1     0.0
433553             1     0.0
137980             1     0.0
1089101            1     0.0
592982             1     0.0
century-styled     1     0.0
282595             1     0.0
907265             1     0.0
469022             1     0.0
1197895            1     0.0
19909              1     0.0
1190971            1     0.0
1349678            1     0.0
1349538            1     0.0
909136             1     0.0
1430353            1     0.0
guzma              1     0.0
1256388            1     0.0
33176              1     0.0
1321660            1     0.0
1355579            1     0.0
1081835            1     0.0
1420874            1     0.0
207105             1     0.0
937578             1     0.0
870775             1     0.0
1321707            1     0.0
1321709            1     0.0
509511             1     0.0
767867             1     0.0

[1671803 rows x 2 columns]

In [8]:
#Pivot with most often items and biggest mean price
pt4=pt.sort_values(by=[('P', 'mean'),('P', 'count')], ascending=False)
pt5=pt4[pt4[('P', 'count')]>1000]
print(pt5)

                 P
             count        mean
word
vuitton       2593  198.151562
louis         2726  189.620690
lv            1068  102.318352
satchel       1175   98.376170
gucci         2579   80.892206
burch         3499   79.120892
tory          3562   78.731892
beats         2130   72.273239
burberry      1852   72.220842
retro         3935   72.127065
tiffany       1508   69.601459
ipad          2267   69.115130
chanel        2772   68.305916
authentic     8044   66.684050
14k           1989   66.188537
kendra        4350   63.889080
laptop        1221   63.160524
sarah         1861   62.743686
jordan       10437   62.329884
air           9366   62.262225
scott         4547   62.061689
apple         6261   61.626737
mk            3040   60.389474
series        1608   59.222637
11            3690   59.061111
dooney        1639   58.971324
kors         12756   58.616063
handbag       2429   58.204199
13            2082   57.942843
watch         8202   57.867837
...            ...         ...
remover       1099   12.331665
mossimo       1058   12.305293
lashes        2321   12.285653
keychain      2516   12.197337
chargers      1016   12.039370
earphones     1078   11.962894
mailers       1439   11.815149
wet           1363   11.809978
nyx           2881   11.631378
lipgloss      1058   11.582703
[carter's]    1280   11.528125
rue           1011   11.381800
fidget        2846   11.207836
spinner       2503   11.068917
elf           1038   11.023121
belly         1541   10.877677
eyeliner      1849   10.862628
eyelashes     1671   10.673549
silicone      1616   10.261757
protector     1402    9.969686
polymailers   1195    9.938912
patch         1448    9.903315
maybelline    1257    9.104216
choker        4257    8.696030
slime         4087    7.902863
popsocket     1147    7.376635
stickers      2866    6.674110
decal         1946    6.574512
sticker       2204    6.402904
nose          1450    5.568276

[990 rows x 2 columns]

In [26]:
#save top 20 words with biggest mean price
pt6=(pt5.head(20)).drop(['P'], axis=1).reset_index()
print (pt6)
df = pd.DataFrame(pt6)
df.to_csv(r'c:\temp\dum.txt', index=None, sep=' ', mode='a')

         word

0     vuitton
1       louis
2          lv
3     satchel
4       gucci
5       burch
6        tory
7       beats
8    burberry
9       retro
10    tiffany
11       ipad
12     chanel
13  authentic
14        14k
15     kendra
16     laptop
17      sarah
18     jordan
19        air

In [27]:
#save top 20 words with lowest mean price
pt7=pt5.tail(20).drop(['P'], axis=1).reset_index()
print(pt7)
df = pd.DataFrame(pt7)
df.to_csv(r'c:\temp\dum.txt', index=None, sep=' ', mode='a')

           word

0    [carter's]
1           rue
2        fidget
3       spinner
4           elf
5         belly
6      eyeliner
7     eyelashes
8      silicone
9     protector
10  polymailers
11        patch
12   maybelline
13       choker
14        slime
15    popsocket
16     stickers
17        decal
18      sticker
19         nose