In [1]:
import pandas as pd
import numpy as np

import xgboost as xgb





train = pd.read_csv('C:/temp/train.tsv', sep='\t')
#test = pd.read_csv('C:/temp/test.tsv', sep='\t')
#print(train)
#print((train[1:2]['name'].to_string().split())[1:2] )
names=train['item_description']
namelist=[]
l=len(train)
for i in range (l):   #len(train)
    print(i/l, end='\r')
    for k in range (len(names[i:i+1].to_string().split())):
        namelist.append([(names[i:i+1].to_string().split())[k:k+1],float(train[i:i+1]['price'])]) #,float(train[i:i+1]['price'])

#print (namelist) 

#del train, test, namelist

In [4]:
import pandas as pd
import numpy as np
import scipy

import xgboost as xgb

import gc
df22=pd.read_csv(r'c:\Temp\disfordt.txt',delimiter=' ')
df21=df22['word'].str.lower()
df2 = pd.DataFrame(df21)
df2['P']=df22['P']
print (df2.head())

          word     P
0            0  10.0
1           no  10.0
2  description  10.0
3          yet  10.0
4            1  52.0

In [6]:
pt=pd.pivot_table(df2, values=['P'], index=['word'], columns=None, aggfunc={np.mean, 'count'})
pt2=pt.sort_values(by=[('P', 'count')], ascending=False)
print(pt2)

                  P
              count       mean
word
new          263204  29.075586
size         206577  25.160083
...          182927  28.012724
brand        175634  29.136377
and          164097  27.047725
in           155147  29.625471
no           145927  24.756645
with         138173  31.257275
a            122243  27.375097
for          105449  25.568322
is            99240  28.474995
the           95105  27.045902
never         89397  26.044364
description   84193  22.047896
worn          82942  27.764691
yet           82840  21.971566
of            79534  25.308635
used          76442  27.310758
black         65642  27.355428
this          64756  29.377540
great         59800  27.545502
condition     58577  29.620568
good          49957  26.005365
pink          48897  24.437532
i             47938  30.253995
to            46915  26.548428
free          45966  20.341774
2             45888  25.074442
only          41630  29.973709
on            40772  26.441712
...             ...        ...
168002            1  14.000000
168001            1  29.000000
168000            1  34.000000
168020            1  16.000000
168022            1  10.000000
168044            1  16.000000
168034            1  19.000000
168043            1  46.000000
168042            1  21.000000
168041            1  84.000000
168040            1  29.000000
16804             1  49.000000
168039            1   7.000000
168038            1  10.000000
168037            1   6.000000
168036            1   9.000000
168035            1  34.000000
168033            1   7.000000
168023            1  28.000000
168032            1  20.000000
168031            1  10.000000
168030            1  11.000000
16803             1  23.000000
168029            1  10.000000
168028            1  12.000000
168027            1  30.000000
168026            1  23.000000
168025            1  14.000000
168024            1  22.000000
€€€               1   9.000000

[1727104 rows x 2 columns]

In [7]:
pt3=pt.sort_values(by=[('P', 'mean')], ascending=False)
print(pt3)

                   P
               count    mean
word
760469             1  2009.0
1262245            1  2006.0
1393600            1  2004.0
1445348            1  2000.0
415027             1  2000.0
742113             1  2000.0
956343             1  2000.0
778940             1  2000.0
1250053            1  2000.0
952000             1  1999.0
180749             1  1909.0
194639             1  1900.0
182847             1  1850.0
1267555            1  1850.0
244054             1  1815.0
m23203             1  1815.0
1227002            1  1815.0
449729             1  1808.0
645320             1  1806.0
607957             1  1806.0
1163903            1  1800.0
louis,             1  1800.0
667668             1  1800.0
897423             1  1800.0
key;               1  1800.0
1024458            1  1770.0
145696             1  1759.0
1416120            1  1750.0
596178             1  1747.0
506623             1  1709.0
...              ...     ...
913839             1     0.0
dresses,suits,     1     0.0
1452401            1     0.0
1252484            1     0.0
99038              1     0.0
431853             1     0.0
1458474            1     0.0
214093             1     0.0
44750              1     0.0
447506             1     0.0
211569             1     0.0
789790             1     0.0
1335181            1     0.0
1068772            1     0.0
929374             1     0.0
kbethos            1     0.0
315256             1     0.0
506598             1     0.0
698788             1     0.0
1336269            1     0.0
8c/                1     0.0
212919             1     0.0
1456460            1     0.0
125448             1     0.0
469022             1     0.0
1337212            1     0.0
459881             1     0.0
882144             1     0.0
1186629            1     0.0
1221592            1     0.0

[1727104 rows x 2 columns]

In [8]:
pt4=pt.sort_values(by=[('P', 'mean'),('P', 'count')], ascending=False)
print(pt4)

                            P
                        count    mean
word
760469                      1  2009.0
1262245                     1  2006.0
1393600                     1  2004.0
1250053                     1  2000.0
1445348                     1  2000.0
415027                      1  2000.0
742113                      1  2000.0
778940                      1  2000.0
956343                      1  2000.0
952000                      1  1999.0
180749                      1  1909.0
194639                      1  1900.0
1267555                     1  1850.0
182847                      1  1850.0
1227002                     1  1815.0
244054                      1  1815.0
m23203                      1  1815.0
449729                      1  1808.0
607957                      1  1806.0
645320                      1  1806.0
1163903                     1  1800.0
667668                      1  1800.0
897423                      1  1800.0
key;                        1  1800.0
louis,                      1  1800.0
1024458                     1  1770.0
145696                      1  1759.0
1416120                     1  1750.0
596178                      1  1747.0
506623                      1  1709.0
...                       ...     ...
oberyon                     1     0.0
petsling                    1     0.0
phth...                     1     0.0
pic4,...                    1     0.0
pieces,crop                 1     0.0
pomel...                    1     0.0
radio/                      1     0.0
rafting...                  1     0.0
regular!!!                  1     0.0
rsr                         1     0.0
sadi's                      1     0.0
salad!                      1     0.0
size---7r                   1     0.0
slim-straight               1     0.0
spectators                  1     0.0
stela                       1     0.0
string;                     1     0.0
suff                        1     0.0
sweatpant/lounge            1     0.0
taunter...                  1     0.0
tipis?                      1     0.0
trunkdoo...                 1     0.0
volt/summit/white/black     1     0.0
vsdc                        1     0.0
w64                         1     0.0
x/x2                        1     0.0
youth7                      1     0.0
~beautiful...               1     0.0
•disc...                    1     0.0
•houndstooth                1     0.0

[1727104 rows x 2 columns]

In [10]:
print(pt4[pt4[('P', 'count')]>1000])

                P
            count        mean
word
louis        1052  201.411597
gucci        1229   85.409276
dust         1312   82.693979
burch        1312   78.593750
tory         1433   78.346825
ipad         1151   72.817550
14k          1434   71.354254
kendra       1975   67.680253
chanel       1274   65.981947
scott        2051   64.799854
retro        1479   64.033807
michael      5185   59.444262
kors         4644   59.395134
ugg          1517   58.829268
camera       1022   58.458904
jordan       3458   57.635338
mk           1789   56.708776
kate         2962   54.141965
bag,         1003   53.912263
spade        2707   53.837274
apple        3867   53.697440
watch        3366   53.364528
htf          1399   53.300929
authentic   27055   53.227001
air          3888   53.078961
tote         2392   53.010452
carly        1725   52.381449
crossbody    1412   51.910057
authentic.   2664   51.712087
signature    1179   50.945717
...           ...         ...
21           3734   15.598152
tshirt       1470   15.512245
top.         3520   15.512074
socks        2112   15.506155
handmade     3129   15.415149
3t           1571   15.383195
charlotte    1013   15.335637
blouse       1680   15.295536
elastic      1097   15.277575
shirt.       2939   14.836509
thin         1426   14.662342
forever      3720   14.552554
mascara      1292   14.545666
flowy        1012   14.540514
sample       1236   14.471683
6/6s         1483   14.184086
nail         2028   13.297830
nyx          1190   13.069748
lashes       1239   13.009282
carter's     1019   12.863101
lanyard      1027   12.392405
poly         1205   11.924481
10x13        1049   11.206864
fidget       1285   11.184825
silicone     1491   10.971160
sticker      1267   10.808998
choker       1717    9.589983
stickers     1751    8.942319
slime        2020    8.230198
decal        1057    6.808893

[1266 rows x 2 columns]